apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: taskflow-mongo
spec:
  serviceName: taskflow-mongo-svc
  replicas: 1
  selector:
    matchLabels:
      app: taskflow-mongo
  template:
    metadata:
      labels:
        app: taskflow-mongo
    spec:
      containers:
        - name: mongo
          image: mongo:7.0
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
  volumeClaimTemplates:
    - metadata:
        name: mongo-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi